body {
    background-color: #e8d1a7;
    color: #442d1c;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    display: flex;
    max-width: 20%;
}

.header-contianer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
}

header {
    background-color: #84592b;
    color: #f1f1f1;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav  a {
    color: #f1f1f1;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    color: black;
}

.active {
    color: black;
}


main {
    background-color: #e8d1a7;
    color: #442d1c;
}

h1 {
    font-family: 'josefin slab', serif;
}

p {
    font-family: 'nunito', sans-serif;
}

.wireframe {
    max-width: 40px;
}

footer {
    background-color: #84592b;
    color: #f1f1f1;
    padding: 10px;
    margin-top: 10px;
}

.search-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    font-family: 'nunito', sans-serif;
}

.search-box {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #442d1c;
    font-size: 16px;
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: #f1f1f1;
}

.search-results {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    color: black;
}

.search-item {
    padding: 10px 15px;
    border-bottom: 1px solid #743014;
    transition: background-color 0.2s ease;
}

.search-item:hover {
    background-color: #B9AA73;
}

.hidden {
    display: none;
}