/* general content css */
body {
    background-color: #a59f9f;
    color: rgb(5, 5, 29);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

header h1 {
    text-align: center;
    color: rgb(114, 44, 3);
    width: 100%;
}

main {
    padding: 20px 0;
}

h2 {
    border-radius: 5px;
    background-color: rgb(114, 44, 3);
    color: #ffffff;
    text-align: center; 
    width: 200px;
    font-size: 20px;
    margin: 0 auto;
}

h2 #town {
    justify-content: center;
}

nav {
    background-color: rgb(1, 31, 22);
    border-radius: 10px;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
}

nav a.active {
    color: #C6C3C3;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: rgb(5, 5, 29);
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(114, 44, 3);
}



footer {
    background-color: rgb(1, 31, 22);
    color: #c9c5c5;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

#view-toggle {
    text-align: center;
    margin-bottom: 20px;
}


/* hero css */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}

.hero-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-container {
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Button CSS */
.hero-button {
    position: absolute; /* Position the button relative to the hero container */
    bottom: 20px; /* Adjust this value to position the button lower or higher */
    left: 50%; /* Center the button horizontally */
    transform: translateX(-50%); /* Move the button to be perfectly centered */
    margin: 10px;
    padding: 10px;
    background-color: rgb(5, 5, 29);
    color: #a59f9f;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.hero-button:hover {
    background-color: rgb(114, 44, 3);
}

/* weather */
.card {
    border: 1px solid #44546d;
    background-color: #c9c5c5;
    border-radius: 10px;
    text-align: center;
}

.card h2 {
    color:black;
    margin: .3rem 0;
}

.card #description {
    text-transform: capitalize;
    color: black;
    margin: 3rem 0;
}

.card #temperature {
    font-size: 2rem;
    color: black;
    margin: 3rem 0;
}



/* members section */
.members {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.members-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.member-card {
    background-color: #c9c5c5;
    border: 1px solid #44546d;
    border-radius: 5px;
    padding: 15px;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.member-card h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.member-card .business-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.member-card p {
    margin: 0;
    font-size: 14px;
}

.member-card a {
    color: rgb(1, 31, 22);
    text-decoration: none;
}

.member-card a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .member-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .member-card {
        width: 100%;
    }
}

#more-info-link{
    color: rgb(114, 44, 3);
}

#first-name, #last-name,#org-title, #email, #mobile, #org-name, #membership, #description {
    background-color: #c9c5c5;
}

#submit-button {
    background-color: #c9c5c5;
}

#submit-button:hover{
    background-color: #8a8484;
}

.membership-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.membership-card.animate {
    opacity: 1;
    transform: translateY(0);
}

.grid-container {
    display: flex;
    width: 100%;
}

.left-side {
    width: 40%;
}

.gallery-container {
    width: 60%;
}


@media (max-width: 768px) {
    .grid-container {
        flex-direction: column; /* Stack children vertically */
    }
    
    .left-side,
    .gallery-container {
        width: 100%; /* Full width on mobile */
    }